<legend>User Information</legend>
<div>
    <!-- ID -->
    <form class="form-group row">
        <label class="col-xs-6 col-form-label">ID</label>
        <div class="col-xs-6">{{user.ID}}</div>
    </form>

    <!-- GUID -->
    <form class="form-group row">
        <label class="col-xs-6 col-form-label">GUID</label>
        <div class="col-xs-6">{{user.GUID}}</div>
    </form>

    <!-- First Name -->
    <form class="form-group row">
        <label class="col-xs-6 col-form-label">First Name</label>
        <div class="col-xs-6">{{user.FirstName}}</div>
    </form>

    <!-- Last Name -->
    <form class="form-group row">
        <label class="col-xs-6 col-form-label">Last Name</label>
        <div class="col-xs-6">{{user.LastName}}</div>
    </form>

    <!-- Email -->
    <form class="form-group row">
        <label class="col-xs-6 col-form-label">Email</label>
        <div class="col-xs-6">{{user.Email}}</div>
    </form>
</div>
